@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Are you sure you want to delete @Html.DisplayFor(model => model.MachineType)?</h2>

@Html.DisplayNameFor(model => model.MachineType): @Html.DisplayFor(model => model.MachineType)
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}

@Html.ActionLink("All machines", "Index")
@Html.ActionLink("Home", "Index", "Home")