@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Edit @Html.DisplayFor(model => model.MachineName)</h2>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineId)
  <div class="form-group">
    @Html.LabelFor(model => model.MachineName)
    @Html.TextBoxFor(model => model.MachineName)
  </div>

  <input type="submit" value="Update" class="btn btn-outline-dark"/>
}

<p>@Html.ActionLink("Machine Index", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>
<p>@Html.ActionLink("Add engineer", "AddEngineer",  new { id = Model.MachineId })</p>