@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Edit @Html.DisplayFor(model => model.MachineName)</h2>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineId)

  @Html.LabelFor(model => model.MachineName)
  @Html.TextBoxFor(model => model.MachineName)

  @Html.Label("Add engineer:") 
  @Html.DropDownList("EngineerId")

  @Html.Label("Add Status:")
  @Html.DropDownList("StatusId")

  <input type="submit" value="Update" />
}

<p>@Html.ActionLink("Machine Index", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>