@{
  Layout = "_Layout";
}

@model Factory.Models.Status;

<h1>Add Piece</h1>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.StatusCondition)
  @Html.TextBoxFor(model => model.StatusCondition) <br>

  @Html.LabelFor(model => model.StatusUpdateDate)
  @Html.TextBoxFor(model => model.StatusUpdateDate)<br>

  @Html.LabelFor(model => model.Machine)
  @Html.DropDownList("MachineId") <br>

  <input type="submit" value="Add new status" /> <br>
}

<p>@Html.ActionLink("Status Index", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>
