@{
  Layout = "_Layout";
}

@model Factory.Models.Status;

<h1>Add Status</h1>

@using (Html.BeginForm())
{
  <div class="form-group">
    @Html.LabelFor(model => model.StatusName)
    @Html.TextBoxFor(model => model.StatusName) <br>
    @Html.LabelFor(model => model.StatusDate)
    @Html.TextBoxFor(model => model.StatusDate)<br>
    @Html.LabelFor(model => model.Machine)
    @Html.DropDownList("MachineId") <br>
  </div>

  <input type="submit" value="Add new status" class="btn btn-outline-dark"/> <br>
}

<p>@Html.ActionLink("Status Index", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>
