@{
  Layout = "_Layout";
}

@using Factory.Models;
@model Factory.Models.Status
<h1> Status details</h1>
<hr/>
@Html.DisplayNameFor(model => model.StatusName): @Html.DisplayFor(model => model.StatusName)<br>
  |  @Html.DisplayNameFor(model => model.StatusDate): @Html.DisplayFor(model => model.StatusDate)<br>
  |  @Html.DisplayNameFor(model => model.Machine.MachineName): @ViewBag.Machine
