
@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h2>Are you sure you want to delete engineer @Html.DisplayFor(model => model.EngineerName) ?</h2>

@Html.DisplayNameFor(model => model.EngineerName): @Html.DisplayFor(model => model.EngineerName)
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" class="btn btn-danger"/>
}

@Html.ActionLink("See all engineers", "Index")
@Html.ActionLink("Home", "Index", "Home")