
@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h2>Confirm deletion of @Html.DisplayFor(model => model.EngineerName)?</h2>

@Html.DisplayNameFor(model => model.EngineerName): @Html.DisplayFor(model => model.EngineerName)
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}

@Html.ActionLink("See engineers", "Index")
@Html.ActionLink("Home", "Index", "Home")