@{
  Layout = "_Layout";
}

@using Factory.Models;
@model Factory.Models.Engineer;

<h1>Engineer Details</h1>
<hr />
<h2>@Html.DisplayNameFor(model => model.EngineerName): @Html.DisplayFor(model => model.EngineerName)</h2>

@if(@Model.Machines.Count() == 0)
{
  <p>There are no machines listed yet</p>
}
else
{
  <h4>Machines:</h4>
  <ul>
  @foreach(var join in Model.Machines)
  {
    <li>@join.Machine.MachineName</li>
    @using (Html.BeginForm("DeleteMachine", "Engineers"))
    {
    @Html.Hidden("joinId", @join.MachineEngineerId)
    <input class="btn btn-danger" type="submit" value="Delete"/>
    }
  }
  </ul>
}

<p>@Html.ActionLink("Edit engineer", "Edit", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Delete engineer", "Delete", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Engineer list", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>



